<div class="content">
  <p class="content-title">{{'game.title' | translate }}</p>
  <p class="content-subtitle">{{'game.instructions' | translate }}</p>
  <div class="video-card">
    <iframe width="1159" height="652" src="https://www.youtube.com/embed/_PUEoDYpUyQ" frameborder="0" class="video-size"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
    </iframe>
  </div>
  <button (click)="letsPlay()" class="button-style">Let's play!</button>
</div>
