.content {
  padding: 3rem 5rem;
  &-title {
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
    padding-bottom: 10px;
    font-size: 23px;
  }
}

.table th,
.table td,
.table thead th {
  border-bottom: unset;
  border-top: 1px solid black;
}

img {
  max-width: 400px;
  border-radius: 2px;
}

.img-selected {
  border: 1px solid #5f5f5f;
}

.modal-dialog {
  max-width: 400px;
  margin: 1.75rem auto;
}

.modal-content {
  background: linear-gradient(180deg, #d2d1d0 0%, #4e4d4c 100%);
  border: 1px solid black;
  width: unset;
}

a {
  color: black;
}

.close-button {
  border: 1px solid #8a8484;
  color: black;
}

.btn-outline-primary:hover {
  background-color: #757373 !important;
}

@media (max-width: 450px) {
  img {
    max-width: 325px;
  }
}

@media (min-width: 570px) {
  .content-title {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 3rem 0.5rem 5rem 0.5rem;
  }
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media (min-width: 994px) {
  .title,
  .image {
    display: flex;
    justify-content: center;
  }
  .img-selected {
    max-width: 700px;
  }
  .modal-dialog {
    max-width: 700px;
  }
}

