.navbar.navbar-inverse .navbar-header .navbar-brand {
  display: flex;
  text-align: center;
  float: none;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 1.5px;
  text-decoration: underline;
}

.navbar-expand-lg {
  border-bottom: 1px solid black;
}

.dropdown-menu.show {
  background-color: #72a05b;
  min-width: unset;
  width: 124px !important;
  a {
    font-weight: 500;
  }
}

.dropdown-item.active, .dropdown-item:active {
  background-color: green;
}

.navbar.navbar-inverse .navbar-header {
  float: none;
}

.navbar-dark {
  background-color: #012d0196 !important;
}

.dropdown-toggle {
  padding-left: 0px !important;
  color: #48ad15;
}

.container-fluid {
  display: unset;
  height: 5rem;
}

.flag {
  max-width: 20px;
  margin-left: 5px;
}

.img {
  position: relative;
  bottom: 30px;
  width: 150px;
}

@media (max-width: 570px) {
  .navbar.navbar-inverse .navbar-header .navbar-brand {
    position: relative;
    top: 10px;
  }
  .img {
    display: none;
  }
}

@media (min-width: 570px) {
  .container-fluid {
    position: relative;
    top: 12px;
  }
}

@media (min-width: 993px) {
  #navbarDropdown {
    position: relative;
    top: 8px;
  }
  .dropdown-menu.show {
    left: -23px;
  }
  li {
    padding: 0 10px;
  }
  .img {
    width: 170px;
  }
  .navbar-expand-lg .navbar-collapse {
    position: relative;
    top: 1rem;
  }
}

@media (max-width: 1200px) {
  .navbar.navbar-inverse .navbar-header .navbar-brand {
    top: 20px;
  }
}

@media (min-width: 1200px) {
  .navbar.navbar-inverse .navbar-header .navbar-brand {
    font-size: 40px;
    letter-spacing: 1.5px;
    top: 10px;
  }
}

.navbar {
  padding: .1rem 1rem;
}
